@model IEnumerable<Login_Test.Models.prestamo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_soli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_aprob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiador.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.garantia1.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_pago1.nom_pago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_soli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_aprob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiador.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.garantia1.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_pago1.nom_pago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
