@model Login_Test.Models.pago

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.monto_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prestamo.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prestamo.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_pago.nom_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_pago.nom_pago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
